body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

li {
  list-style-type: circle;
  font-size: 2em;
}

#tasks .completed {
  font-style: italic;
  text-decoration-line: line-through;
  list-style-type: disc;
}

img {
  width: 15%;
}

